<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.altamirano.fabricio.core">

    <application>
        <activity
            android:usesCleartextTraffic="true"
            android:name=".AstAboutActivity"
            android:theme="@style/AstTheme"
            tools:ignore="UnusedAttribute" />
    </application>

</manifest>